
<!-- News-index.htm beginning -->
<div style="margin-bottom:34px; margin-top:6px; border:1px solid #ccc; background:<!--[$bgcolor]-->;">
	<div style="height:49px; color:<!--[$color3]-->; border-bottom:1px solid #ccc;">
		<h4 style="float:left; width:90%; padding-left:6px; margin-top:10px;">
			<p style="margin:0px;"><strong><!--[$preformat.catandtitle]--></strong></p>
			<p style="margin:0px;"><!--[gt text="Posted by" domain="theme_iw_blau"]--> <!--[$info.informant]--> <!--[gt text="on" domain="theme_iw_blau"]--> <!--[$info.longdatetime]--></p>
		</h4>
	</div>
	<div style="padding:10px;">
		<div style="float:left; margin-right:10px;"><!--[$preformat.searchtopic]--></div>
		<p><!--[$info.hometext]--></p>
		<p><!--[$preformat.notes]--></p>
	</div>
	<div style="clear:both; padding:10px; height:20px; color:<!--[$color3]-->; border-top:1px solid #ccc;">
		<div style="float:left; width:100px;"><!--[$info.counter]--> <!--[gt text="reads" domain="theme_iw_blau"]--></div>
		<div style="float:left; width:200px; margin-left:25%;"><a href="<!--[$links.fullarticle]-->" title="<!--[$info.title]-->"><!--[gt text="Full story" domain="theme_iw_blau"]--></a></div>
		<div style="float:right; width:40px;">
			<!--[$preformat.printicon]-->
		</div>
	</div>
</div>
<!-- News-index.htm end -->
